@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tooltip:before {
  font-size: 10px;
  background-color: #d3d3d3;
  color: black;
}

.btn {
  height: 10px;
  min-height: 40px;
  font-size: 10px;
  padding: 0px 10px;
}

.text {
  background-color: black;
  color: aqua;
}
